<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>snippetstoalfred</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>02B4CB85-CBBC-424A-8CD9-BD60A5AFE062</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47247424-5AC2-4C55-8084-5E993E912178</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6345EB09-B01E-43FB-AC81-F0AE9E8B14B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>02B4CB85-CBBC-424A-8CD9-BD60A5AFE062</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BA2DCBB3-65CB-4B21-BD32-6216FC267B3E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy snippet to clipboard</string>
			</dict>
		</array>
		<key>BA2DCBB3-65CB-4B21-BD32-6216FC267B3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23F2AA28-EFD6-4082-B5B3-3D313CF5B63E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Valentin Barral</string>
	<key>description</key>
	<string>Snippets.me integration with Alfred 2</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Snippets To Alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>47247424-5AC2-4C55-8084-5E993E912178</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>php ./decode.php '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>02B4CB85-CBBC-424A-8CD9-BD60A5AFE062</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sn</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching snippets...</string>
				<key>script</key>
				<string>php find.php '{query}'</string>
				<key>subtext</key>
				<string>Find snippets from Snippets.me</string>
				<key>title</key>
				<string>Snippets To Alfred</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6345EB09-B01E-43FB-AC81-F0AE9E8B14B2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>23F2AA28-EFD6-4082-B5B3-3D313CF5B63E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>php ./decode.php '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BA2DCBB3-65CB-4B21-BD32-6216FC267B3E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow integrates Snippets.me new version (sqlite database) with Alfred 2.</string>
	<key>uidata</key>
	<dict>
		<key>02B4CB85-CBBC-424A-8CD9-BD60A5AFE062</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>23F2AA28-EFD6-4082-B5B3-3D313CF5B63E</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>47247424-5AC2-4C55-8084-5E993E912178</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>6345EB09-B01E-43FB-AC81-F0AE9E8B14B2</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>BA2DCBB3-65CB-4B21-BD32-6216FC267B3E</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
